<section (click)="toggleOpen(true)" (zivvOutsideClick)="toggleOpen(false)" class="typeahead">
  <input
    [(ngModel)]="search"
    [placeholder]="placeholder"
    (ngModelChange)="searchChange.emit($event)"
    autocomplete="off"
    type="search"
    name="search"
    id="search"
    class="typeahead__input"
  />

  <zivv-dropdown
    *ngIf="isOpen"
    [items]="items"
    [itemTemplate]="itemTemplate || defaultTemplate"
    [rowHeight]="45"
    (itemSelect)="onItemSelect($event)"
  ></zivv-dropdown>

  <svg-icon [key]="isLoading ? 'spinner' : 'search'" size="lg" color="hotpink" class="typeahead__icon"></svg-icon>
</section>

<ng-template #defaultTemplate let-context>
  <span class="truncate-text">{{ labelKey ? context[labelKey] : context }}</span>
</ng-template>
