@import '../../../scss/helpers';

:host {
  position: relative;
}

.typeahead {
  @include border-radius();
  @include border();
  @include flex($align: center, $gsb: 1 0 auto);
  @include transition(border-color);
  padding: $spacing-2x $spacing-4x;
  height: 48px;

  &:hover,
  &:focus-within {
    border-color: color(focus);
  }

  &:focus-within .typeahead__icon {
    opacity: 1;
  }
}

.typeahead__icon {
  @include transition(opacity);
  margin-left: $spacing-3x;
  opacity: 0.5;
}

.typeahead__input {
  @include font(inherit, primary, regular, medium, regular);
  @include placeholder() {
    color: color(placeholder);
  }
  width: 100%;
  height: 100%;
  border: none;

  &:focus,
  &:active {
    outline: none;
  }
}
