<section class="search">
  <div class="search__weather-image">
    <svg-icon key="sun" size="lg"></svg-icon>
    <svg-icon key="cloud" fontSize="40px"></svg-icon>
  </div>
  <div class="search__weather-data">
    <zivv-dropdown class="search__dropdown"></zivv-dropdown>
    <zivv-typeahead class="search__typeahead"></zivv-typeahead>
  </div>
</section>

<main *ngIf="weatherPerDay$ | async as weatherPerDay">
  <section class="result">
    <article class="weather">
      <h1 class="weather__name">{{ weatherPerDay | fn: mapToDateRange | daterange }}</h1>
      <p class="weather__value weather__value--large">
        <span>{{ averageTemp$ | async | number: '1.0-0' }}</span>
        <i class="weather__unit">&#8451;</i>
      </p>
    </article>
  </section>

  <section class="days">
    <article *ngFor="let weather of weatherPerDay; let i = index" class="weather" id="weather{{ i + 1 }}">
      <h3 class="weather__name">{{ weather.date | date: 'EEEE' }}</h3>
      <p class="weather__value">
        <span>{{ weather.temperature | number: '1.0-0' }}</span>
        <i class="weather__unit">&#8451;</i>
      </p>
    </article>
  </section>
</main>
